.button {
    border: none;
    outline: none;
    padding: 1em;
    border-radius: .25em;
}

.button-small {
    max-width: 8em;
    max-height: 4em;
}

.button-medium {
    max-width: 8em;
    max-height: 4em;
}

.button-medium {
    max-width: 10em;
    max-height: 5em;
}
